.venv/
tests/
__pycache__/
.mypy_cache/
.ruff_cache/
.pytest_cache/
htmlcov/
.coverage
.coverage.*
coverage.xml
*.cover
*.egg-info/
*.egg
dist/
build/
.eggs/
Makefile
ruff.toml
*.md
.git/
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store
